.about .image {
  --width: 250px;
  --ellipse: ellipse(130px 160px at 24% 48%);
  --ellipse-o: ellipse(130px 160px at 27% 48%);
}
@media (min-width: 768px) {
  .about .image {
    --width: 300px;
    --ellipse: ellipse(180px 210px at 24% 47%);
    --ellipse-o: ellipse(180px 210px at 27% 47%);
  }
}

.about {
  .image {
    shape-outside: var(--ellipse-o);
    clip-path: var(--ellipse);
    width: var(--width);
    float: left;
  }
}
