// Variable definition
.header {
  --position: static;
  --width: 100%;
  --border-r: 0;
}
.header__nav {
  --display: flex;
}
.header__link--active {
  --font-weight: 700;
  --icon: "";
}
.main {
  --main-display: block;
  &__container {
    --padding-top: none;
  }
  .footer__icon {
    --font-size: 18px;
  }
}

@media (min-width: 768px) {
  .header {
    --position: fixed;
    --width: min-content;
    --border-r: 10px 0 0 10px;
  }
  .header__nav {
    --display: block;
  }
  .header__link--active {
    --font-weight: 500;
    --icon: "💜";
  }
  .main {
    --main-display: grid;
    &__container {
      --padding-top: var(--padding-5);
    }
  }
  .footer__icon {
    --font-size: 22px;
  }
}

// Layout
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  position: var(--position);
  top: 100px;
  right: 0;
  width: var(--width);
  padding: var(--padding-1);
  background-color: $primary-light;
  border-radius: var(--border-r);

  &__nav { 
    display: var(--display);
    max-width: 400px;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__link {
    width: 50%;
    padding: var(--padding-1);
    text-align: center;
  }
  &__link--active {
    position: relative;
    font-weight: var(--font-weight);
    font-style: italic;
    &::after {
      content: var(--icon);
      position: absolute;
      right: -64px;
      top: 22px;
      opacity: 0.75;
    }
  }
}

.main {
  display: var(--main-display);
  grid-template-columns: minmax(20vw, 1fr) minmax(auto, 1360px) minmax(20vw, 1fr);
  margin: 0 auto;
  margin-bottom: 50px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--padding-top);
    grid-column: 2;
  }
}

.footer {
  padding: var(--padding-1);
  margin-top: auto;
  background-color: $primary-light;

  ul {
    display: flex;
    justify-content: center;
  }
  &__icon {
    padding: 15px;
    font-size: var(--font-size);
    font-weight: 700;
  }
}

