// Variable definition
.home {
  --padding-text: var(--padding-3) var(--padding-3) 0 var(--padding-3);
  &__container {
    --max-width: 400px;
  }
}
.about {
  .image {
    --width: 250px;
    --ellipse: ellipse(130px 160px at 24% 48%);
    --ellipse-o: ellipse(130px 160px at 27% 48%);
  }
}
.contact {
  &__container {
    --flex-direction: column;
  }
  &__text {
    --width: 90%;
    }
  &__img {
    --width: 90%;
  }
}

.card {
  --max-width: 320px;
}

@media (min-width: 768px) {
  .home {
    --padding-text: 0;
    &__container {
      --max-width: none;
    }
  }
  .about .image {
    --width: 500px;
    --ellipse: ellipse(180px 210px at 24% 47%);
    --ellipse-o: ellipse(180px 210px at 27% 47%);
  }
  .card {
    --max-width: 650px;
  }
  .contact {
    &__container {
      --flex-direction: row;
    }
    &__text {
      --width: auto;
    }
    &__img {
      --width: 50%;
    }
  }
}

//Layout

// Home Page
.home {
  &__container {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    padding: var(--padding-text);
  }
  &__title {
  }
  &__intro {
    padding-bottom: 20px;
  }
  &__about-text,
  &__contact-text {
    text-align: right;
  }
  &__about-btn,
  &__contact-btn {
    align-self: flex-start;
  }
  &__projects-btn, 
  &__next{
    align-self: flex-end;
  }
}

// About Page
.about {
  .title-1 {
    padding: var(--padding-2) var(--padding-2) var(--padding-4) var(--padding-2);
  }
  &__text {
    padding: var(--padding-2) var(--padding-2) var(--padding-4) var(--padding-2);
  }
  .image {
    shape-outside: var(--ellipse-o);
    clip-path: var(--ellipse);
    width: var(--width);
    float: left;
  }
}
.note {
  position: relative;
  width: 300px;
  
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
  }
  &__img {
    border-radius: 10px;
    filter: greyscale(0);
    transition: opacity 200ms ease-in;
  }
  &__text {
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 10px 0;
    opacity: 0;
    background-image: $bg-img;
    text-align: center;
    transition: opacity 200ms ease-in;
  }
  &:hover {
    .note__text {
      opacity: 1;
    }
    .note__img {
      opacity: 0.4;
    }
  }
}

// Projects Page
.projects {}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-width: var(--max-width);
  margin: var(--padding-1) var(--padding-2);

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__image {
    flex: 1;
    border-radius: 0 0 10px 10px;
    border: 5px solid $primary-light;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    background-color: $primary-light;
  }
  &__title {
    padding: var(--padding-2) var(--padding-2) 0 var(--padding-2);
  }
  .text {
    padding: var(--padding-2);
  }
  .link {
    align-self: flex-end;
  }
}

// Contact Page
.contact {
  &__container {
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: wrap;
  }
  &__img {
    min-width: 200px;
    width: var(--width);
    max-width: 400px;
    border-radius: 10px;
  }
  &__text li {
    position: relative;
    width: var(--width);
    padding-left: 50px;
    margin-top: 20px;
    &:nth-child(1)::before {
      content: "📫";
    }
    &:nth-child(2)::before {
      content: "🍧";
    }
    &::before {
      position: absolute;
      left: 23px;
      top: 2px;
    }
    a {
      display: inline-block;
      width: 100%;
      padding: 5px 10px 3px 10px;
      border: 3px solid $primary-light;
      border-radius: 6px;
    }
  }
}