@charset "UTF-8";
:root {
  --primary-hue: 293;
  --padding-1: 10px;
  --padding-2: calc(var(--padding-1) * 2);
  --padding-3: calc(var(--padding-1) * 3);
  --padding-4: calc(var(--padding-1) * 4);
  --padding-5: calc(var(--padding-1) * 5);
}

.title-1 {
  --font-size: 50px;
  --padding: var(--padding-3) var(--padding-3) var(--padding-4) var(--padding-3);
}

.title-2 {
  --font-size: 25px;
}

.text {
  --font-size: 16px;
}

@media (min-width: 768px) {
  :root {
    --padding-1: 20px;
  }

  .title-1 {
    --font-size: 70px;
    --padding: var(--padding-2) var(--padding-2) var(--padding-4) var(--padding-2);
  }

  .title-2 {
    --font-size: 35px;
  }

  .text {
    --font-size: 18px;
  }
}
img {
  max-width: 100%;
  height: auto;
}

.title-1 {
  padding: var(--padding);
  font-family: "Fredoka One", cursive;
  font-size: var(--font-size);
  color: #222222;
  text-shadow: 0 0 60px hsl(var(--primary-hue), 92%, 75%);
}
.title-1 span {
  padding-left: 20px;
  font-size: calc(var(--font-size) / 1.9 );
}

.title-2 {
  font-family: "Fredoka One", cursive;
  font-size: var(--font-size);
  color: #222222;
}

.text {
  font-family: "Grandstander", cursive;
  font-size: var(--font-size);
  line-height: 1.3em;
  color: #222222;
}

.link {
  display: block;
  transition: all 300ms ease-in-out;
  text-decoration: underline wavy hsl(var(--primary-hue), 92%, 75%) 1.46px;
}
.link:hover {
  transform: scale(1.2) translateX(-10px);
}

.header {
  --position: static;
  --width: 100%;
  --border-r: 0;
}

.header__nav {
  --display: flex;
}

.header__link--active {
  --font-weight: 700;
  --icon: "";
}

.main {
  --display: block;
}
.main__container {
  --padding-top: none;
}
.main .footer__icon {
  --font-size: 18px;
}

@media (min-width: 768px) {
  .header {
    --position: fixed;
    --width: min-content;
    --border-r: 10px 0 0 10px;
  }

  .header__nav {
    --display: block;
  }

  .header__link--active {
    --font-weight: 500;
    --icon: "💜";
  }

  .main {
    --display: grid;
  }
  .main__container {
    --padding-top: var(--padding-5);
  }

  .footer__icon {
    --font-size: 22px;
  }
}
.header {
  position: var(--position);
  top: 100px;
  right: 0;
  width: var(--width);
  padding: var(--padding-1);
  background-color: hsl(var(--primary-hue), 45%, 93%);
  border-radius: var(--border-r);
}
.header__nav {
  display: var(--display);
  max-width: 400px;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header__link {
  width: 50%;
  padding: var(--padding-1);
  text-align: center;
}
.header__link--active {
  position: relative;
  font-weight: var(--font-weight);
  font-style: italic;
}
.header__link--active::after {
  content: var(--icon);
  position: absolute;
  right: -64px;
  top: 22px;
  opacity: 0.75;
}

.main {
  display: var(--display);
  grid-template-columns: minmax(20vw, 1fr) minmax(auto, 1360px) minmax(20vw, 1fr);
}
.main__container {
  padding-top: var(--padding-top);
  grid-column: 2;
}

.footer {
  padding: var(--padding-1);
  background-color: hsl(var(--primary-hue), 45%, 93%);
}
.footer ul {
  display: flex;
  justify-content: center;
}
.footer__icon {
  padding: 15px;
  font-size: var(--font-size);
  font-weight: 700;
}

.about .image {
  --width: 250px;
  --ellipse: ellipse(130px 160px at 24% 48%);
  --ellipse-o: ellipse(130px 160px at 27% 48%);
}

.card {
  --max-width: 320px;
}

@media (min-width: 768px) {
  .about .image {
    --width: 500px;
    --ellipse: ellipse(180px 210px at 24% 47%);
    --ellipse-o: ellipse(180px 210px at 27% 47%);
  }

  .card {
    --max-width: none;
  }
}
.about .title-1 {
  padding: var(--padding-2) var(--padding-2) var(--padding-4) var(--padding-2);
}
.about .text {
  padding: var(--padding-2) var(--padding-2) var(--padding-4) var(--padding-2);
}
.about .image {
  shape-outside: var(--ellipse-o);
  clip-path: var(--ellipse);
  width: var(--width);
  float: left;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-width: var(--max-width);
  margin: var(--padding-1) var(--padding-2);
}
.card__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card__image {
  flex: 1;
  border-radius: 0 0 10px 10px;
  border: 5px solid hsl(var(--primary-hue), 45%, 93%);
  overflow: hidden;
}
.card__image img {
  width: 100%;
  object-fit: cover;
}
.card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  background-color: hsl(var(--primary-hue), 45%, 93%);
}
.card__title {
  padding: var(--padding-2) var(--padding-2) 0 var(--padding-2);
}
.card .text {
  padding: var(--padding-2);
}
.card .link {
  align-self: flex-end;
}

/*# sourceMappingURL=style.css.map */
